* {
  box-sizing: border-box;
  color: #050a30;
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 6px 24px;
  align-content: center;
}

.mobile_logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.menu_icon {
  display: flex;
}

.menu_icon .material-icons {
  color: #6070ff;
  align-self: center;
}

.headline {
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 24px;
  background: white;
  border-radius: 0 0 0 60px;
}

.headline h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headline p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.icons a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 6px 20px 6px 0;
}

.headline > * {
  background-color: transparent;
  margin: 6px 0;
}

.connect_link {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect_link:hover {
  text-shadow: 1px 1px 1px #616bc4c5;
}
