* {
  box-sizing: border-box;
  color: #050a30;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 24px;
  align-content: center;
}

#menu_container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #6070ffee;
}

/* .active {
  display: block;
} */

.close_menu {
  float: right;
  margin-top: 48px;
  margin-right: 24px;
}

.menu_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 106px 28px;
  gap: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.menu_list * {
  color: #fff;
}

.mobile_logo {
  max-width: 100%;
  max-height: 100%;
  padding: 6px 0;
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
}

#menu_icon {
  padding: 6px;
  display: flex;
}

.material-icons {
  color: #6070ff;
  padding: 6px;
}

.material-icons:hover {
  background-color: #6070ff33;
  border-radius: 50%;
}

.headline {
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 24px;
  background: white;
  border-radius: 0 0 0 60px;
  background-image: url(images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

h1,
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headline p,
.aboutme p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.icons a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 6px 20px 6px 0;
}

.icons {
  margin: 24px 0;
  list-style-type: none;
  padding: 0;
}

.icons_text {
  display: none;
}

.icons li {
  display: inline;
}

.headline > * {
  background-color: transparent;
  margin: 6px 0;
}

#connect_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#connect_link:hover {
  text-shadow: 1px 1px 1px #616bc4c5;
}

#works {
  padding: 114px 24px;
  display: grid;
  gap: 88px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 2px black;
}

.card:hover {
  box-shadow: 0 0 4px black;
}

.preview {
  margin: 0 auto;
  border-radius: 8px;
  height: auto;
  width: 100%;
}

.card h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 0 20px;
}

.type_and_date :first-child {
  color: #344563;
}

.type_and_date > * {
  color: #7a869a;
  font-weight: 600px;
  font-size: 13px;
  line-height: 16px;
}

.type_and_date p {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0 12px;
}

.prog_lang {
  padding: 0;
  margin: 0 0 24px;
  list-style-type: none;
}

.prog_lang li {
  display: inline;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 4px;
  margin: 0 8px 0 0;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

button {
  align-self: flex-start;
  color: #396df2;
  background-color: transparent;
  font-weight: 500px;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 0 16px;
  transition: background-color 1s, color 1s, border-color 1s;
}

button:hover {
  color: white;
  background-color: #396df2;
  border-color: white;
}

.aboutme {
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 24px;
  background: white;
  border-radius: 0 60px 0 0;
}

.footer_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer_list > li {
  border-bottom: 1px solid #dfe1e6;
  padding: 24px 12px;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.footer_list > li > ul {
  margin: 36px 0 0;
  padding: 0;
  list-style-type: none;
}

.footer_list > li > ul > li {
  margin: 12px 0;
  padding: 9px 12px;
  border-radius: 8px;
  background-color: #f7f7f9;
  height: 66px;
  display: flex;
  align-content: stretch;
  gap: 16px;
}

.footer_list > li > ul > li > span {
  color: #253858;
  font-weight: 500;
  line-height: 20px;
  align-self: center;
  font-size: 15px;
}

.footer_list > li > ul > li > img {
  width: 48px;
  height: 48px;
}

.footer_list > li > span:hover {
  font-weight: 700;
}

.footer_list li i {
  float: right;
  margin-right: 28px;
}

#contact input,
#contact textarea {
  padding: 15px 38px 15px 16px;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
  border-radius: 8px;
  height: 48px;
  margin-bottom: 20px;
  border: 1px solid #cfb8dc;
  outline: none;
  width: 100%;
}

#contact textarea {
  font-size: 15px;
  height: 170px;
  line-height: 24px;
  resize: none;
}

#contact textarea::placeholder {
  color: #b3bac5;
}

#contact {
  background-color: #6070ff;
  text-align: center;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  padding: 103px 24px 45px;
  border-radius: 60px 0 0 0;
  background-image: url(./images/contact-form-shapes-mobile.png);
  background-position: right;
  background-repeat: no-repeat;
}

#contact h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin: 0 0 12px;
}

#contact p {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 0 52px;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

label {
  display: none;
}

[type="submit"] {
  color: #6070ff;
  background-color: white;
  margin: 0;
  border: none;
  transition: background-color 1s, color 1s;
}

[type="submit"]:hover {
  background-color: #6070ff;
  color: white;
  outline: 1px solid white;
}

@media screen and (min-width: 768px) {
  .header {
    height: 70px;
    padding: 0 155px;
  }

  #menu_icon {
    display: none;
  }

  #menu_container {
    display: block;
    position: static;
    background-color: #6070ff00;
  }

  .close_menu {
    display: none;
  }

  .menu_list {
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 32px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  .menu_list * {
    color: #344563;
  }

  h1,
  .card_details h2 {
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .headline {
    min-height: calc(100vh - 70px);
    padding: 60px 18%;
    border-radius: 0 0 0 130px;
    background-image: url(images/Header-bg.png);
    background-size: 97% auto;
    background-position: top;
  }

  .headline p {
    font-size: 20px;
    line-height: 28px;
  }

  #works {
    padding: 142px 10%;
    display: grid;
    gap: 142px;
  }

  .card {
    flex-direction: row;
    gap: 24px;
    padding: 24px;
  }

  .card_details {
    flex: 0.9;
    justify-content: stretch;
    order: 1;
    padding: 24px;
  }

  .preview {
    opacity: 0;
  }

  .pv1,
  .pv2,
  .pv3,
  .pv4 {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 8px;
    padding: 15px 0;
    transition: transform 1s;
  }

  .pv1 {
    background-image: url("./images/SnapshootPortfolioDesktop1.png");
  }

  .pv2 {
    background-image: url("./images/SnapshootPortfolioDesktop2.png");
    order: 2;
  }

  .pv3 {
    background-image: url("./images/SnapshootPortfolioDesktop3.png");
  }

  .pv4 {
    background-image: url("./images/SnapshootPortfolioDesktop4.png");
    order: 2;
  }

  .pv1:hover,
  .pv2:hover,
  .pv3:hover,
  .pv4:hover {
    transform: scale(1.05);
  }

  .type_and_date > * {
    color: #6b778c;
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
  }

  .type_and_date p {
    font-size: 16px;
    margin: 32px 0 24px;
  }

  .prog_lang li {
    border-radius: 8px;
    margin: 0 8px 0 0;
    padding: 4px 12px;
  }

  .prog_lang {
    margin: 0 0 46px;
  }

  button {
    margin: 0;
  }

  .footer_message {
    flex: 1;
  }

  .footer_list {
    flex: 1.5;
  }

  .aboutme {
    flex-direction: row;
    gap: 24px;
    padding: 166px 10%;
    border-radius: 0 130px 0 0;
  }

  .aboutme h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin: 0 0 12px;
  }

  .aboutme p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 12px;
  }

  #contact {
    padding: 142px 0 127px;
    border-radius: 130px 0 0 0;
    background-image: url(./images/contact-form-bg.png);
    background-size: 90% auto;
    background-position: center;
  }

  #contact p {
    margin: 0 auto 36px;
    width: 569px;
  }

  #contact form {
    width: 447px;
    margin: 0 auto;
  }

  [type="submit"] {
    margin: 0 auto;
  }

  #contact input,
  #contact textarea {
    border-radius: 2px;
    margin-bottom: 27px;
  }

  .footer_list > li > ul {
    display: flex;
    gap: 12px;
  }

  .footer_list > li > ul > li {
    flex-direction: column;
    margin: 0;
    padding: 12px 12px 20px;
    min-width: 122px;
    min-height: 120px;
    gap: 16px;
  }

  .footer_list > li > ul > li > span {
    align-self: self-start;
  }
}
